#####################################
##               Import            ##
#####################################
importFrom("parallel", "makeCluster", "stopCluster", "mclapply")
importFrom("doParallel", "registerDoParallel")
importFrom("foreach", "%dopar%", "foreach", "%do%")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("stats", "dgamma", "dlnorm", "lm", "predict", "rbinom", "rmultinom", "rpois", "sortedXyData", "quantile", "setNames", "glm")
importFrom("fields", "rdist")
importFrom("slam", "as.simple_sparse_array")
importFrom("drc", "drm")
importFrom("insol", "JD", "daylength")
importFrom("raster", "stack", "raster", "rasterFromXYZ")
importFrom("sp", "gridded", "coordinates")

#####################################
##               Export            ##
#####################################
export(dynamAedes, .beta.fun, .DRC.beta, .beta.init)
export(.a.a_disp.f, .a.gono_rate.f, .a.ovi_rate.f, 
.a.surv_rate.f, .i.emer_rate.f, .e.surv_rate.f,
.i.surv_rate.f, .e.hatch_rate.f, .e.dia_rate.f, 
.d.surv_rate.f, .i.ddmort_rate.f, psi, psi_sp, 
icci, adci, adci_sp, get_rates_spatial, dici, 
.returndis, .euc, .meuc)